@import "_mixin.scss";
@import "common.scss";
.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(50px);
    background: #06C1AE;
    @include box_flex;
    @include align(center);
    padding: 0 pxTorem(10px);
    @include sizing;
    font-size: pxTorem(18px);
    color: #fff;
    .address {
        width: pxTorem(60px);
        text-align: center;
    }
    .search {
        @include flex;
        background: #05A494;
        padding: pxTorem(5px);
        @include sizing;
        border-radius: pxTorem(6px);
        @include box_flex;
        margin-left: pxTorem(8px);
        .iconfont {
            font-size: pxTorem(16px);
            padding: 0 pxTorem(5px);
            @include sizing;
        }
        input {
            @include flex;
        }
    }
    dl {
        width: pxTorem(60px);
        text-align: center;
        padding-left: pxTorem(10px);
        @include sizing;
        .iconfont {
            font-size: pxTorem(20px);
        }
        dd {
            font-size: pxTorem(14px);
        }
    }
}

section {
    width: 100%;
    @include flex;
    overflow: hidden;
    position: relative;
    background: #F0EFED;
    .content {
        width: 100%;
        .refresh,
        .load {
            width: 100%;
            height: pxTorem(40px);
            line-height: pxTorem(40px);
            text-align: center;
            font-size: pxTorem(16px);
            background: #fff;
            color: #06C1AE;
        }
        .refresh {
            position: absolute;
            top: pxTorem(-40px);
        }
        .load {
            position: absolute;
            bottom: pxTorem(-40px);
        }
        .pic {
            width: 100%;
        }
        .swiper-container {
            width: 100%;
            height: pxTorem(180px);
            background: #fff;
            .swiper-wrapper,
            .swiper-slide {
                width: 100%;
                height: pxTorem(170px);
            }
            .swiper-slide {
                @include box_flex;
                @include flexWrap(wrap);
                dl {
                    width: 20%;
                    text-align: center;
                    padding-top: pxTorem(8px);
                    @include sizing;
                    dt {
                        img {
                            width: 50%;
                        }
                    }
                    dd {
                        padding-top: pxTorem(5px);
                        @include sizing;
                        font-size: pxTorem(15px);
                    }
                }
            }
            .swiper-pagination {
                span {
                    width: pxTorem(8px);
                    height: pxTorem(8px);
                    margin: 0 pxTorem(8px);
                }
                .swiper-pagination-bullet-active {
                    background: #06C1AE;
                }
            }
        }
        .info {
            width: 100%;
            background: #fff;
            margin-top: pxTorem(10px);
            padding-left: pxTorem(10px);
            @include sizing;
            >p {
                width: 100%;
                height: pxTorem(40px);
                font-size: pxTorem(16px);
                line-height: pxTorem(40px);
                border-bottom: 1px solid #ccc;
            }
            .foodList {
                width: 100%;
                @include box_flex;
                @include direction(column);
                li {
                    width: 100%;
                    @include box_flex;
                    @include justify(space-between);
                    border-bottom: 1px solid #ccc;
                    img {
                        padding: pxTorem(10px) 0 pxTorem(10px) 0;
                        @include sizing;
                    }
                    .cen {
                        font-size: pxTorem(17px);
                        padding-top: pxTorem(15px);
                        line-height: pxTorem(26px);
                        p:nth-child(2) {
                            font-size: pxTorem(14px);
                        }
                        p:nth-child(3) {
                            padding-top: pxTorem(10px);
                            @include sizing;
                            span:nth-child(1) {
                                font-size: pxTorem(20px);
                                color: #06C1AE;
                            }
                            span:nth-child(2) {
                                font-size: pxTorem(14px);
                            }
                        }
                    }
                    .rig {
                        padding-right: pxTorem(10px);
                        @include sizing;
                        padding-top: pxTorem(80px);
                        @include sizing;
                        font-size: pxTorem(14px);
                    }
                }
            }
        }
    }
}